{
    "uri_atlas": "mongodb+srv://<user>:<password>@<atlas-cluster-fqdn>/?retryWrites=true&w=majority",
    "uri_a4g": "mongodb+srv://<user>:<password>@<atlas-cluster-fqdn>/?retryWrites=true&w=majority"
}

